#about {
  padding: 100px;
  .container {
    width: 100%;
    margin: 0 auto;

    .about_main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
      h1 {
        width: 546px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
        font-size: 58px;
        font-weight: 700;
        line-height: 84px; /* 144.828% */
        letter-spacing: 1.16px;
        background: var(
          --Gd,
          linear-gradient(90deg, #2563eb 0.11%, #d946ef 58.65%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .about_p {
        margin-top: 29px;
        width: 534px;
        height: 59px;
        flex-shrink: 0;
        color: #e5e7eb;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
        font-size: 15px;
        font-weight: 500;
        line-height: 30px; /* 200% */
        opacity: 0.8;
      }
      .btn_vid {
        margin-top: 30px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 29px;
        .btn_about {
          border: none;

          gap: 10px;
          color: #f9fafb;
          font-size: 16px;
          font-weight: 500;
          padding: 20px 40px;
          border-radius: 6px;
          background: var(
            --Gardient,
            linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%)
          );
        }
        .p2 {
          color: #ffff;
          font-size: 16px;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
